@model GBC_Bids_Group.ViewModels.LoginDto
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card p-4">
                <h3 class="text-center mb-3">Login</h3>
                <form asp-controller="Auth" asp-action="Login" method="post">
                    <div class="mb-3">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="mt-1">
                            <a asp-controller="Auth" asp-action="ResetPassword" class="ms-auto">Reset Password</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <div class="text-center mt-3">
                    <span>New Here?</span>
                    <a asp-controller="Auth" asp-action="Register" class="ms-1">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/jquery-validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}