@model GBC_Bids_Group.ViewModels.MfaDto
@{
    ViewData["Title"] = "Auth Code";
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card p-4">
                <h3 class="text-center mb-3">Enter 6 Digit Code</h3>
                <form asp-controller="Auth" asp-action="MFA" method="post">
                    <div class="mb-3">
                        <input asp-for="UserId" type="hidden" value="@TempData["UserId"]" />
                        <label asp-for="Code" class="form-label"></label>
                        <input asp-for="Code" class="form-control" type="number"/>
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/jquery-validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}